@import "./variable";
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
ul li {
  list-style: none;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  font-family: "satoshi", sans-serif;
}
a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  display: flex;
  background-color: #f5f7fb;
  // overflow-y: hidden;
}
// margin: 0 auto;
.sidebar {
  max-width: 286px;
  background-color: #101010;
  display: flex;

  padding: 30px;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;

  .sidebar__dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

    .sidebar__lattermark {
      display: flex;
      align-items: center;
      gap: 11px;
      .sidebar__text {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        .sidebar__text--dark {
          color: #484848;
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
    .sidebar__item {
      width: 100%;
      display: flex;
      padding: 15px 87px 15px 16px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      cursor: pointer;

      // .sidebar__item-link:hover {
      //   width: 100%;
      //   background-color: $primary-color;
      //   border-radius: 10px;
      // }
      .sidebar__item-link:hover .sidebar__item-link-text,
      .sidebar__item-link:hover .sidebar__item-icon {
        color: $background-color;
        // background-color: $primary-color;
      }
      .sidebar__item-link {
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: 10px;
        transition: all 0.2s ease;
        .sidebar__item-link-text {
          color: #b2b2b8;
          font-size: 18px;
          font-weight: 500;
          line-height: 24px; /* 133.333% */
        }
      }
    }
    .sidebar__item:hover {
      border-radius: 15px;
      background-color: #26282e;
    }

    .sidebar__item:hover .sidebar__item-link span {
      width: 100%;
      color: #fff;
    }
  }
}

.main__page {
  width: 100%;

  // margin-left: 286px;
  // padding: 15px 30px;
  // .main__page-wrap {
  //   width: calc(100% - 60px);
  //   margin: 0 auto;

  // }
}
.mheadpage {
  display: none;
}
.headpage {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  .headpage__top {
    width: 100%;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .headpage__button {
      display: flex;
      width: 135px;
      height: 40px;
      padding: 10px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 8px;
      cursor: pointer;
      background: #5827e4;

      .headpage__btn {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px; /* 137.5% */
      }
    }

    // gap: 871px;
    .headpage__right {
      display: flex;
      gap: 16px;
    }
    .headpage__right-ava {
      width: 36px;
      height: 36px;
    }
  }
}
.main__page-wrap {
  // width: calc(100% - 60px);
  // margin: 0 auto;
  background-color: $background-color;
  padding: 0 30px;
}
.mcomponents {
  display: none;
}
.components {
  width: 100%;
  background-color: $background-color;
  border-bottom: 1px solid #e9eaec;
  .components__items {
    display: flex;
    gap: 90px;
    background-color: $background-color;
    .components__item {
      color: $primary-color;
      font-size: 20px;
      font-weight: 500;
      line-height: 28px; /* 140% */
      padding: 40px 0;
      cursor: pointer;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
      }
      &:hover {
        color: #101010;
      }
      &:hover::after {
        background-color: #5827e4;
      }
    }
  }
}
.upload {
  margin-top: 39px;
  width: 100%;
  // display: flex;
  padding: 10px;

  border-radius: 14px;
  background: #fff;
  max-height: 800px;
  overflow-y: scroll;
  overflow-x: scroll;
  table {
    width: 100%;
    border-collapse: collapse;
    #choice,
    #choice1 {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
    }

    thead th {
      position: sticky;
      top: 0;
      padding: 10px;
      background-color: $background-color;
      color: $font-color;
      color: #929cad;
      font-size: 16px;
      font-weight: 500;
      text-align: left;
      line-height: 22px; /* 137.5% */
    }
    thead tr th:last-child {
      padding: 0 10px 0 0;
    }

    tbody td {
      padding: 10px;
      word-break: break-all;
      text-align: left;
      color: #555964;
      font-size: 16px;
      font-weight: 500;
      line-height: 22px; /* 137.5% */
      .table__img {
        width: 80px;
        height: 70px;
        object-fit: cover;
        border: 6px;
      }
      .table__link {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
      }
    }
  }
}
// product
.mcreate {
  display: none;
}
.create {
  width: 100%;
  padding: 44px 30px 49px 30px;
  background-color: $background-color;

  .create__bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $background-color;

    .create__text {
      color: #101010;
      font-size: 30px;
      font-weight: 500;
      line-height: 40px; /* 133.333% */
    }
    .create__buttons {
      display: flex;
      align-items: center;
      gap: 16px;
      font-size: 16px;
      font-weight: 500;
      .create__save {
        display: flex;
        align-items: center;
        padding: 8px 14px;
        gap: 9px;
        color: #6e7581;
        cursor: pointer;
      }
      .create__publish {
        display: flex;
        align-items: center;
        gap: 9px;
        padding: 8px 14px;
        border-radius: 20px;
        background-color: #5827e4;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}
.product {
  width: 100%;
  display: flex;

  // justify-content: space-between;
  background-color: $background-color;
  gap: 27px;
  padding: 30px;
}
.informations {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 20px;
  background-color: #fff;
  width: 100%;
  .info {
    width: 100%;
    .info__texts {
      display: flex;
      width: 100%;
      margin-bottom: 40px;
      align-items: center;
      gap: 10px;
      .info__num {
        display: flex;
        width: 30px;
        height: 30px;
        padding: 10px 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        border-radius: 30px;
        background-color: #232222;
      }
      .info__text {
        color: #080d1c;
        font-size: 24px;
        font-weight: 500;
      }
    }
    .info__title {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      margin-bottom: 30px;
      .info__title-text {
        color: #080d1c;
        font-size: 20px;
        font-weight: 500;
      }

      span {
        color: #107aff;
        font-size: 20px;
        font-weight: 500;
      }
      .info__input {
        display: flex;
        width: 100%;
        padding: 16px 20px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 8px;
        border: 1px solid #107aff;
      }
    }
    .info__description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      margin-bottom: 30px;
      .info__description-text {
        color: #080d1c;
        font-size: 20px;
        font-weight: 500;
        span {
          color: #107aff;
          font-size: 20px;
          font-weight: 500;
        }
      }
      .info__description-list {
        width: 100%;
        padding-top: 9px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        border-radius: 8px;
        border: 1px solid #e0e2e6;
        overflow: hidden;
        .info__description-items {
          display: flex;
          padding-left: 20px;
          align-items: center;
          gap: 30px;
          .info__description-item {
            width: 30px;
            height: 30px;
          }
        }
        textarea {
          width: 100%;
          border-bottom: 0;
          border-left: 0;
          border-right: 0;
          border-top: 1px solid #e0e2e6;
        }
      }
    }
    .info__card {
      width: 100%;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      gap: 16px;
      align-items: flex-start;
      .info__card-text {
        color: #080d1c;
        font-size: 20px;
        font-weight: 500;

        span {
          color: #107aff;
          font-size: 20px;
          font-weight: 500;
        }
      }
      .info__add {
        display: flex;
        width: 100%;
        padding: 16px 20px 80px 20px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 8px;
        border: 1px solid #e0e2e6;
      }
    }
    .info__keyword {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      .info__keyword-text {
        color: #080d1c;
        font-size: 20px;
        font-weight: 500;
        span {
          color: #107aff;
          font-size: 20px;
          font-weight: 500;
        }
      }
      .info__key {
        display: flex;
        width: 100%;
        padding: 16px 20px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 8px;
        border: 1px solid #e0e2e6;
      }
    }
  }
  .image {
    margin-top: 60px;
    width: 100%;
    .image__form {
      width: 100%;
      padding: 20px 0;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 30px;
    }
    .image__texts {
      display: flex;
      width: 100%;
      margin-bottom: 40px;
      align-items: center;
      gap: 10px;
      .image__text {
        color: #080d1c;
        font-size: 24px;
        font-weight: 500;
      }
      .image__num {
        display: flex;
        width: 30px;
        height: 30px;
        padding: 10px 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        border-radius: 30px;
        background-color: #232222;
      }
    }
    .image__cover {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      .image__cover-text {
        color: #080d1c;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        span {
          color: #107aff;
          font-size: 20px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: -0.2px;
        }
      }
      .image__click {
        width: 100%;
        display: flex;
        padding: 30px 99px 30px 82px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        background-color: #f9fbfc;
        border-radius: 8px;
        border: 1px solid #e0e2e6;

        .click {
          display: flex;
          // padding: 0px 144px 0px 152px;
          flex-direction: column;
          align-items: center;
          gap: 9px;
          .drop {
            display: flex;
            flex-shrink: 0;
            padding: 18px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 30px;
            border: 1px solid #f2f4f5;
            background-color: #fff;
          }
          .click__link {
            color: #000;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px; /* 150% */
            letter-spacing: -0.16px;
          }
        }
      }
    }
    .image__details {
      display: flex;
      justify-content: flex-start;
      max-width: 100%;
      gap: 30px;
      .detail {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        .image__detail {
          color: #080d1c;
          font-size: 20px;
          font-weight: 500;
          line-height: 24px; /* 120% */
          letter-spacing: -0.2px;
          span {
            color: #4d83ba;
            font-size: 12px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -0.12px;
          }
        }
        .drop__detail {
          display: flex;
          padding: 30px 76px;
          flex-direction: column;
          width: 100%;
          align-items: center;
          gap: 10px;
          background-color: #f9fbfc;
          border-radius: 8px;
          border: 1px solid #e0e2e6;

          .click__detail {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 9px;
            .drop {
              display: flex;
              flex-shrink: 0;
              padding: 18px;

              gap: 10px;
              border-radius: 30px;
              border: 1px solid #f2f4f5;
              background-color: #fff;
            }
            .click__link {
              color: #000;
              font-size: 16px;
              font-weight: 400;
              line-height: 24px; /* 150% */
              letter-spacing: -0.16px;
            }
          }
        }
      }
    }
  }
  .mainfile {
    width: 100%;
    margin-top: 60px;
    .mainfile__form {
      width: 100%;
      padding: 20px 0;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 30px;
    }
    .mainfile__texts {
      display: flex;
      width: 100%;
      margin-bottom: 40px;
      align-items: center;
      gap: 10px;
      .mainfile__text {
        color: #080d1c;
        font-size: 24px;
        font-weight: 500;
      }
      .mainfile__num {
        display: flex;
        width: 30px;
        height: 30px;
        padding: 10px 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        border-radius: 30px;
        background-color: #232222;
      }
    }
    .mainfile__cover {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      .mainfile__cover-text {
        color: #080d1c;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        span {
          color: #107aff;
          font-size: 20px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: -0.2px;
        }
      }

      .mainfile__click {
        width: 100%;
        display: flex;
        padding: 30px 99px 30px 82px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        background-color: #f9fbfc;
        border-radius: 8px;
        border: 1px solid #e0e2e6;

        .click {
          width: 100%;
          display: flex;
          // padding: 0px 144px 0px 152px;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          gap: 9px;
          .drop {
            display: flex;
            padding: 18px;
            flex-shrink: 0;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 30px;
            border: 1px solid #f2f4f5;
            background-color: #fff;
          }
          .click__link {
            color: #000;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px; /* 150% */
            letter-spacing: -0.16px;
          }
        }
      }
    }
  }
}
.minformations {
  display: none;
}
.informations__left {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 24px 30px;
  align-items: flex-start;
  gap: 30px;
  border-radius: 20px;
  background-color: #fff;
}
.informations__left-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.category {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  .category__text {
    color: #080d1c;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px; /* 140% */
    span {
      color: #107aff;
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
    }
  }
  .select {
    display: flex;
    width: 100%;
    padding: 8px 13px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #e0e2e6;
    .selection {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
}
.pricing {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  .pricing__text {
    color: #080d1c;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px; /* 140% */
    span {
      color: #107aff;
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
    }
  }
  .pricing__input {
    width: 100%;
    display: flex;
    padding: 8px 13px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #e0e2e6;
  }
}
.product__card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  .product__card-text {
    color: #080d1c;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px; /* 140% */
    span {
      color: #107aff;
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
    }
  }
  .product__click {
    width: 100%;
    display: flex;
    padding: 22px 99px 22px 82px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #e0e2e6;

    .click {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 9px;
      .drop {
        display: flex;
        padding: 18px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 30px;
        border: 1px solid #f2f4f5;
        background-color: #fff;
      }
      .click__link {
        color: #101010;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 137.5% */
      }
    }
  }
}
.software {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  .software__text {
    color: #080d1c;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px; /* 140% */
    span {
      color: #107aff;
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
    }
  }
  .select {
    width: 100%;
    display: flex;
    padding: 8px 13px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #e0e2e6;
    .selection {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
}

.toggle {
  width: 24px;
  height: 24px;
  display: none;
}

@media screen and (max-width: 1023.98px) {
  .sidebar {
    display: none;
  }

  .headpage {
    display: none;
  }

  // .mcomponents{
  //   display: block;
  // }

  .mheadpage {
    display: block;
    max-width: 100%;
    background-color: #fff;
    padding: 12px 24px;
  }
  .mheadpage__top {
    display: flex;

    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    .mheadpage__left {
      .mheadpage__left-toogle {
        width: 24px;
        height: 24px;
      }
      .mheadpage__left-img {
        width: 40px;
        height: 40px;
      }
      display: flex;
      align-items: center;
      gap: 16px;
    }
    .mheadpage__right {
      display: flex;
      align-items: center;
      gap: 12px;
      .mheadpage__button {
        display: flex;
        width: 135px;
        height: 40px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        cursor: pointer;
        background: #5827e4;
        .mheadpage__btn {
          color: #fff;
          font-size: 16px;
          font-weight: 500;
          line-height: 22px;
        }
      }
      .mheadpage__right-ava {
        width: 36px;
        height: 36px;
      }
    }
  }
  // resposive product
  .product {
    margin: 0 auto;
  }
  .informations__left {
    display: none;
  }
  .informations {
    max-width: 100%;
    display: flex;
    padding: 30px 20px;
    margin: 0 auto;
    align-items: flex-start;
    gap: 10px;
  }
  .minformations {
    width: 100%;
    display: block;
  }
}
@media screen and (max-width: 767.98px) {
  .components {
    display: none;
  }
  .mcomponents {
    display: block;
    margin: 24px 0;
  }
  .main__page-wrap {
    padding: 0 24px;
  }

  .mcomponents__dropdown-items {
    // margin: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 7px 16px;
    gap: 10px;
    border-radius: 30px;
    border-color: transparent;
    background-color: #fff;

    .mcomponents__dropdown-items-num {
      color: $primary-color;
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
    }
  }
  .upload {
    margin: 0;
  }
}
// product
.create {
  display: none;
}
.mcreate {
  display: block;
}
.mcreate {
  width: 100%;
  padding: 24px 27px 0 24px;
  .create__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  h2 {
    color: #101010;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px; /* 140% */
  }
  .create__buttons {
    display: flex;
    align-items: center;
    gap: 16px;
    .create__publish {
      display: flex;
      padding: 8px 14px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      border-radius: 20px;
      background: #5827e4;
    }
  }
}
